li.dev-item:nth-child(1){ /*Seleciona o primeiro registro*/
	margin-top: 1350px;
}
li.dev-item:nth-child(2){ /*Seleciona o segundo registro*/
	margin-top: 1350px;
}
li.dev-item{
	background: white;
	box-shadow: 0 0 14px 0 rgb(0, 0, 0, 0.02);
	border-radius:  10px;
	padding: 20px;	
	opacity: 0.8;
	box-shadow: 5px 5px 5px #aaaaaa;
}
.text1, .text2{
	position: absolute;
	color: white;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	width: 100%;

}
.text1{
	margin-top: 200px;
}
.text2{
	margin-top: 300px;
}
.text2Tech{
	color: orange;
}
li.dev-item header{
	display: flex;
	flex-direction: row;
	align-items: center;

}

li.dev-item header img{
	width: 54px;
	height: 56px;
	border-radius: 50%;
}

li.dev-item header .user-info{
	margin-left: 10px;
}

.user-info strong{
	display: block;
	font-size: 16px;
	color: #333;
}

.user-info span{
	font-size: 13px;
	color: #999;
	margin-top: 2px;
}

li.dev-icon p {
	color: #666;
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}

li.dev-item a{
	color: orange;
	font-size: 14px;
	text-decoration: none;
}

li.dev-item a:hover{
	color: gray;

}

/*Responsive*/
@media (max-width: 1000px){
	.text2{
		margin-top: 350px;
	}

}