#app{
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 30px;

	display: flex;
	flex-direction: center; /*Everthing side to side*/
	align-items: flex-start; /*Always in the top*/
	background-color: rgb(240,240,240);
}

#app main{
	margin-left: 5px;
}


@media (max-width: 1000px){
	#app{
		flex-direction: column; 
	}

	#app main{
		margin-left: 0;
		margin-top: 30px;
	}

	#app .form{
		margin-left: 6%;
	}
}
